<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ginger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_ginger"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ginger">
        <activity android:name=".ProfileActivity"></activity>
        <activity
            android:name=".FavoritesActivity"
            android:exported="true" >


        </activity>
        <activity android:name=".BlogActivity"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MealDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".NoResultFoundActivity"
            android:exported="true" />
        <activity
            android:name=".ShowFilteredMealsActivity"
            android:exported="true" />
        <activity
            android:name=".MealItemDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".FilterActivity"
            android:exported="true" />
        <activity
            android:name=".ConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>